<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Predicción en Tiempo Real</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Video en Tiempo Real con Predicción</h1>
        <div class="video-container">
            <img id="videoFeed" src="{{ url_for('video_feed') }}" alt="Video en tiempo real">
        </div>
        <button id="toggleButton">Toggle Video</button>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
